* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #121A2F;
}
section {
    height: auto;
    scroll-margin-top: 100px;
}
.headings {
    text-align: center;
}
.highlight {
    color: #FFD700;
}

/* Header */
.headerbar {
    position: sticky;
    top: 0;
    background-color: #121A2F;
    border-bottom: 1px solid #fbff00;
    z-index: 1000;
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
}
.logo {
    width: 40%;
    padding: 10px;
    margin-left: 30px;
    color: #FFD700;
    font-weight: 1000;
    display: flex;
    align-items: center;
}
.navbar { /*Nav Bar*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.menu { /*Options for Navbar*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.menu li { /* Navbar item list */
    list-style-type: none; /* Removes underline and link*/
}
.menu li a { /* Navbar item list text */
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    line-height: 1;
    transition: 0.3s;
}
.menu li a:hover { /* Hover condition of menu */
    color: #FFD700;
}
.hamburger { /*Symbol for Hamburger for Smaller Screens*/
    position: fixed;
    width: 30px;
    height: 4px;
    background: #FFD700;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
.hamburger:before, .hamburger:after { /* Creates three bars like a hamburger */
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #FFD700;
    border-radius: 10px;
    transition: 0.3s;
}
.hamburger:before { /* Position of hamburger */
    top: -10px;
    width: 20px;
}
.hamburger:after { /* Position of hamburger */
    top: 10px;
    width: 25px;
}
.toggle-menu { /*Input button for the Hamburger / The one that is clickable */
    position: fixed;
    transform: scale(2.5); /* Increase the size for bigger hitbox */
    z-index: 3;
    cursor: pointer;
    opacity: 0; /* Makes it invisible to show the hamburger icon */
}
.hamburger, .toggle-menu { 
    display: none;
}
.navbar input:checked ~ .hamburger {
    background: transparent;
}
.navbar input:checked ~ .hamburger:before { /* Makes hamburger as X when clicked */
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navbar input:checked ~ .hamburger:after { /* Makes hamburger as X when clicked */
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.navbar input:checked ~ .menu { /* Pop out of the sidebar */
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
}



/* Opening Banner */
.opening_banner {
    display: flex;
    width: 100%;
    height: 670px;
}
.banner_text {
    width: 50%;
    padding: 20px;
    align-content: center;
    margin-left: 150px;
    margin-right: 140px;
}
.heading_opening_text h1 {
    font-size: 3em;
    margin: 0;
}
.small_opening_text p {
    font-size: 1.2em;
    margin-top: 20px;
}
.banner_image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_pic {
    position: relative;
    display: inline-block;
}
.profile_pic img{
    width: 300px;
    height: auto;
    background-position: cover;
    border-radius: 50%;
    border: 5px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #ee00ff, #fbff00);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* About Me */
.about_me {
    display: flex;
    width: 100%;
}
.about_img {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
.about_img img {
    width: auto;
    margin-left: 150px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #FFD700, #000000);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.about_info {
    width: 60%;
}
.about_info .headings{
    font-size: 1.8em;
    text-align: left;
}
.about_info .headings h1:nth-child(1) {
    border-bottom: 2px solid gray;
    margin-right: 550px;
}
.about_text {
    text-align: justify;
    margin-top: 50px;
    margin-right: 150px;
}
.socials {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.socials a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
}
.socials a:hover {
    color: #FFD700;
}
ion-icon {
    font-size: 2em;
    margin: 10px;
}


/* Education */
.education {
    width: 100%;
}
.education .headings {
    font-size: 1.8em;
    text-align: center;
    margin: 50px 0;
}
.schools_div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.school_card {
    display: flex;
    margin: 20px 180px;
}
.school_pic {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.school_pic img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
}
.school_text {
    width: 60%;
    color: white;
    padding: 20px;
    line-height: 1.5;
    border-left: 2px solid #FFD700;
}
.school_text h3 {
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}



/* Interests */
.interests {
    width: 100%;
}
.interest_intro {
    display: flex;
    margin: 30px 200px;
    gap: 30px;
    flex-direction: column;
}
.interest_intro .headings {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid gray;
    margin-right: 800px;
    font-size: 1.8em;
    width: auto;
}
.interest_headings {
    display: flex;
    align-items: center;
    margin: 20px 1150px 20px 190px;
    background-color: #FFD700;
    border-radius: 15px;
    color: black;
}
.gamespics, .moviespics, .photopics{
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}
.gamespics > div, .moviespics > div, .photopics > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.gamespics > div:hover, .moviespics > div:hover, .photopics > div:hover {
    flex: 2;
}

/* Projects */
.projects .headings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    margin: 0 600px;
}
.project_card_main {
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: row; 
    gap: 50px;
    padding: 25px;
}
.project_card {
    width: 25%;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 20px;
}
.project_card ion-icon, .project_card h3 {
    font-size: 3em;
}
.project_card a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #FFD700;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}
.seemore {
    margin: 20px;
    width: auto;
}
.project_card:hover {
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
    border: 1px solid #FFD700;
    border-radius: 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
}

/* Media Queries */

/* For Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) 
{
    section {
        scroll-margin-top: 70px;
    }
    /* For Navbar */
    .logo {
        padding: 20px;
    }
    .hamburger {
        display: block;
        top: 28px;
        right: 25px;
    }
    .toggle-menu {
        display: block;
        top: 26px;
        right: 34px;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: #121A2F;
        width: 160px;
        height: 100%;
        padding-top: 65px;
    }
    .menu li {
        width: 100%;
    }
    .menu li a, menu li a:hover {
        padding: 20px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }
    .navbar a {
        font-size: 14px;
    }

    /* Banner */
    .banner_text {
        margin-left: 50px;
        margin-right: 40px;
    }
    .heading_opening_text h1 {
        font-size: 2em;
    }
    .small_opening_text p {
        font-size: 1.1em;
    }
    .profile_pic img{
        width: 200px;
    }

    /* About Me */
    .about_me {
        flex-direction: column;
        align-items: center;
    }
    .about_img {
        width: 90%;
        margin: 0;
    }
    .about_img img {
        margin-left: 0;
        width: 30%;
        height: auto;
    }
    .about_info {
        width: 100%;
    }
    .about_info .headings h1:nth-child(1) {
        text-align: center;
        margin: 0 250px;
    }
    .about_info .headings {
        text-align: center;
    }
    .about_text {
        margin-top: 20px;
        margin-right: 0;
        text-align: center;
        padding: 20px;
    }
    .socials {
        flex-direction: row;
        justify-content: center;
    }

    /* Education */
    .school_card {
        display: flex;
        margin: 20px 80px;
    }
    .school_pic img {
        height: 200px;
        width: 200px;
        border-radius: 10%;
    }
    .school_text {
        font-size: smaller;
    }


    /* Interests */
    .interest_intro {
        display: flex;
        
        margin: 20px 100px;
        gap: 20px;
    }
    .interest_intro .headings {
        justify-content: center;
        margin-right: 0;
        
    }
    .interest_headings {
        margin: 20px 300px;
        padding: 10px;
        width: auto;
        justify-content: center;
    }
    .gamespics, .moviespics, .photopics{
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 30px;
    }
    
    /* Projects */
    .projects .headings {
        margin: 0px 200px;
        font-size: 1.5em;
    }
    .project_card_main {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .project_card {
        width: 80%;
    }
    .project_card ion-icon, .project_card h3 {
        font-size: 2em;
    }
}

/* For Phones */
@media screen and (max-width: 767px) 
{
    section {
        scroll-margin-top: 50px;
    }
    /* For Navbar */
    .logo {
        padding: 20px;
        text-align: center;
        width: 100%;
    }
    .hamburger {
        display: block;
        top: 28px;
        right: 25px;
    }
    .toggle-menu {
        display: block;
        top: 26px;
        right: 24px;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: #121A2F;
        width: 160px;
        height: 100%;
        padding-top: 65px;
    }
    .menu li {
        width: 100%;
    }
    .menu li a, .menu li a:hover {
        padding: 15px;
        font-size: 20px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }
    .navbar a {
        font-size: 12px;
    }

    /* Banner */
    .opening_banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .banner_text {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 0;
    }
    .heading_opening_text h1 {
        font-size: 1.5em;
    }
    .small_opening_text p {
        font-size: 1em;
    }
    .profile_pic img {
        width: 150px;
    }

    /* About Me */
    .about_me {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_img {
        width: 80%;
        margin: 0;
    }
    .about_img img {
        margin-left: 0;
        width: 50%;
        height: auto;
    }
    .about_info {
        width: 90%;
        padding: 10px;
    }
    .about_info .headings h1:nth-child(1) {
        text-align: center;
        margin: 0 50px;
    }
    .about_info .headings {
        text-align: center;
    }
    .about_text {
        margin-top: 10px;
        margin-right: 0;
        text-align: center;
        padding: 10px;
    }
    .socials {
        flex-direction: column;
        justify-content: center;
    }

    /* Education */
    .schools_div {
        gap: 5px;
    }
    .school_card {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
        align-items: center;
    }
    .school_pic img {
        height: 120px;
        width: 120px;
        border-radius: 10%;
    }
    .school_text {
        font-size: smaller;
        border-left: transparent;
        border-top: 2px solid #FFD700;
        margin: 10px;
    }

    /* Interests */
    .interest_intro {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
        gap: 10px;
    }
    .interest_intro .headings {
        justify-content: center;
        margin-right: 0;
    }
    .interest_headings {
        margin: 10px 20px;
        padding: 2px;
        width: auto;
        justify-content: center;
    }
    .gamespics, .moviespics, .photopics {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .gamespics > div:hover, .moviespics > div:hover, .photopics > div:hover {
        flex: 10;
    }

    /* Projects */
    .projects .headings {
        margin: 0px 20px;
        font-size: 1.1em;
        padding: 10px;
    }
    .project_card_main {
        flex-direction: column;
        gap: 10px;
        padding: 30px;
    }
    .project_card {
        width: 100%;   
    }
    .project_card ion-icon, .project_card h3 {
        font-size: 1.2em;
    }
}